<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
          version="3.1">

    <!-- Mapeamento do Servlet -->
    <servlet>
        <servlet-name>AlunoController</servlet-name>
        <servlet-class>com.seuprojeto.controller.AlunoController</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AlunoAddServlet</servlet-name>
        <servlet-class>com.seuprojeto.servlet.AlunoAddServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AlunoDeleteServlet</servlet-name>
        <servlet-class>com.seuprojeto.servlet.AlunoDeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AlunoListServlet</servlet-name>
        <servlet-class>com.seuprojeto.servlet.AlunoListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AlunoUpdateServlet</servlet-name>
        <servlet-class>com.seuprojeto.servlet.AlunoUpdateServlet</servlet-class>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>AlunoController</servlet-name>
        <url-pattern>/aluno</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AlunoAddServlet</servlet-name>
        <url-pattern>/aluno/adicionar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AlunoDeleteServlet</servlet-name>
        <url-pattern>/aluno/excluir</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AlunoListServlet</servlet-name>
        <url-pattern>/aluno/listar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AlunoUpdateServlet</servlet-name>
        <url-pattern>/aluno/editar</url-pattern>
    </servlet-mapping>
</web-app>
